.features {

    .items {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 35px 50px;


        @media (max-width: 830px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        @media (max-width: 550px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
    }

    .item {
        display: grid;
        grid-template-columns: 24px auto;
        gap: 10px 28px;
        grid-template-areas:
            "icon title"
            ". desc";

        img {
            grid-area: icon;
        }

        h2 {
            grid-area: title;
        }

        p {
            grid-area: desc;
        }
    }

}